<app-loading *ngIf="isLoading$| async"></app-loading>
<app-error-message *ngIf="error$| async"></app-error-message>
<div *ngIf="feed$| async">
  <div class="article-preview" *ngFor="let article of (feed$ | async)?.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" [alt]="article.author.username">
      </a>
      <div class="info">
        <a class="author" [routerLink]="['/profiles', article.author.username]">
          {{article.author.username}}
        </a>
        <span class="date">{{article.createdAt | date}}</span>
      </div>
      <div class="pull-xs-right">
        <app-add-to-favorite
          [isFavorited]='article.favorited'
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        ></app-add-to-favorite>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{article.title}}</h1>
      <p>{{article.description}}</p>
      <span>Read more...</span>
      <app-tag-list [tags]="article.tagList"></app-tag-list>

    </a>
  </div>
  <app-pagination [total] = "(feed$ | async)?.articlesCount"
                  [limit]="limit"
                  [url]="baseUrl"
                  [currentPage]="currentPage"
  ></app-pagination>
</div>
